<h4>
  categories
</h4>

<form>
  <input placeholder="category Id" readonly name="txtId" [(ngModel)]= "frmCategory.id">

<input placeholder="category Name" name="txtName" [(ngModel)]= "frmCategory.name"> 
&nbsp;<br>&nbsp;
<button type="button" class="btn btn-primary" (click)="add()">Add</button>
&nbsp;
<button type="button" class="btn btn-info" (click)="update()">Update</button>
</form>


<table class ="table table-bordered">
<tr>
  <th>
    Id
  </th>
  <th>
    Name
  </th>
  <th>Action</th>
</tr>
<tr *ngFor ="let ctg of categories">
  <td>
{{ctg.id}}
  </td>
  <td>
{{ctg.name}}
  </td>
  <td><button class="btn btn-danger" (click)="delete(ctg.id)">Delete</button> &nbsp;
    <button class="btn btn-warning" (click)="edit(ctg)">Edit</button>
  </td>
</tr>
<tr *ngIf="categories.length == 0">
<th colspan="3">No categories found</th>
</tr>

</table>

